.product-filter {
  display: flex;
  
}

.collection-sort {
    display: flex;
    flex-wrap: wrap;
    
  }
  .products {
    display: flex;
    flex-wrap: wrap;
  }
  body {
    background-image: url("griddyjon.jpg");
  }